@import 'variable';
@import 'fonts';

.header {
    margin-bottom: 30px;
    &__lang__btn,
    &__tel {
        color: $grey_text_color;
    }
    &__lang__btn {
        &:hover {
            background: $grey_bg_color;
            color: $grey_text_color;
        }
        &-active {
            color: $basic_color;
        }
    }
    &__logo__link-img {
        width: 166px;
    }
    &__menu-btn::after {
        background: $main_regular_color;
        box-shadow: 0 6px 0 0 $main_regular_color, 0 12px 0 0 $main_regular_color;
    }
}

.main {
    margin-bottom: 30px;
}

.contact {
    margin-bottom: 30px;
    font: 21px/30px 'Montserrat-Regular';
    &__address {
        margin-bottom: 64px;
        color: $main_regular_color;
        display: block;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -32px;
            height: 4px;
            width: 100%;
            background: $grey_separator_color;
        }
    }
    &__tel {
        margin-bottom: 15px;
        color: $main_regular_color;
        display: block;
        text-decoration: none;
    }
    &__email {
        margin-bottom: 64px;
        color: $active_regular_color;
        display: block;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $accent_color;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -32px;
            height: 4px;
            width: 100%;
            background: $grey_separator_color;
        }
    }
    &__facebook {
        font: 12px/16px 'Montserrat-Bold';
        color: $active_regular_color;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        &-img {
            margin-right: 10px;
        }
        &:hover, &:hover path {
            color: $accent_color;
            fill: $accent_color;
        }
    }
}

.contact-card {
    border-radius: 12px;
}

@import 'media_contact';
